/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.your-custom-cell-class {
  padding-left: 5px;
  padding-right: 5px;
}