/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-cell {
  padding-left: 5px;
  padding-right: 5px;
}

.custom-header-cell {
  padding-left: 21px;
  padding-right: 21px;
  
}