/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-cell {
  padding-left: 5px;
  padding-right: 5px;
}

.custom-header-cell {
  padding-left: 21px;
  padding-right: 21px;
  
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

/* Hide scrollbar for Edge */
.scrollbar-hide {
  -ms-overflow-style: none;
}
